/* .container{
    border-style: solid;
    border-color: #B9C8CD;
}
.card-body{
    background-color: #B9C8CD;
} */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
